In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [30]:
data = pd.DataFrame({'Age': [25, 28, 24], 'Income': [2400, 2600, 2400]})

print(data)

data.iloc[0,0]

   Age  Income
0   25    2400
1   28    2600
2   24    2400

25

In [31]:
data = [[50, True], [40, False], [30, False]]

df = pd.DataFrame(data)
print(df)
print()


# Return the the value of the second [1] row of the first [0] column:


print(df.iloc[1, 0])

    0      1
0  50   True
1  40  False
2  30  False

40

In [43]:
data = pd.DataFrame({
    "Roll_No": [1,2,4],
    "Student_Name": ['A', 'B', 'C']
})
data

   Roll_No Student_Name
0        1            A
1        2            B
2        4            C