![title](Chapter-1.png "Header")
___
# Chapter 1 - Simple Approaches to Recommender Systems
## Segment 2 - Popularity-Based Recommenders

In [3]:
import pandas as pd
import numpy as np

These datasets are hosted on: https://archive.ics.uci.edu/ml/datasets/Restaurant+%26+consumer+data

They were originally published by: Blanca Vargas-Govea, Juan Gabriel GonzÃ¡lez-Serna, Rafael Ponce-MedellÃ­n. Effects of relevant contextual features in the performance of a restaurant recommender system. In RecSysâ€™11: Workshop on Context Aware Recommender Systems (CARS-2011), Chicago, IL, USA, October 23, 2011.

In [4]:
frame = pd.read_csv('rating_final.csv')
cuisine = pd.read_csv('chefmozcuisine.csv')

In [5]:
frame.head(20)

   userID  placeID  rating  food_rating  service_rating
0   U1077   135085       2            2               2
1   U1077   135038       2            2               1
2   U1077   132825       2            2               2
3   U1077   135060       1            2               2
4   U1068   135104       1            1               2
5   U1068   132740       0            0               0
6   U1068   132663       1            1               1
7   U1068   132732       0            0               0
8   U1068   132630       1            1               1
9   U1067   132584       2            2               2
10  U1067   132733       1            1               1
11  U1067   132732       1            2               2
12  U1067   132630       1            0               1
13  U1067   135104       0            0               0
14  U1067   132560       1            0               0
15  U1103   132584       1            2               1
16  U1103   132732       0            0               2
17  U1103   132630       1            2               0
18  U1103   132613       2            2               2
19  U1103   132667       1            2               2

In [6]:
cuisine.head()

   placeID        Rcuisine
0   135110         Spanish
1   135109         Italian
2   135107  Latin_American
3   135106         Mexican
4   135105       Fast_Food

## Recommending based on counts

In [7]:
rating_count = pd.DataFrame(frame.groupby('placeID')['rating'].count())

rating_count.sort_values('rating', ascending=False).head()

         rating
placeID
135085       36
132825       32
135032       28
135052       25
132834       25

In [8]:
most_rated_places = pd.DataFrame([135085, 132825, 135032, 135052, 132834], index=np.arange(5), columns=['placeID'])

summary = pd.merge(most_rated_places, cuisine, on='placeID')
summary

   placeID         Rcuisine
0   135085        Fast_Food
1   132825          Mexican
2   135032        Cafeteria
3   135032     Contemporary
4   135052              Bar
5   135052  Bar_Pub_Brewery
6   132834          Mexican

In [9]:
cuisine['Rcuisine'].describe()

count         916
unique         59
top       Mexican
freq          239
Name: Rcuisine, dtype: object