In [5]:
# Date: 15 Febraury 2024
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.DataFrame({
    "Height": [2, 4, 6],
    "Weight": [1, 6, 10],
    ""
})

data.describe()

data

data.corr(method='pearson')

       Height     Weight
count     3.0   3.000000
mean      4.0   5.666667
std       2.0   4.509250
min       2.0   1.000000
25%       3.0   3.500000
50%       4.0   6.000000
75%       5.0   8.000000
max       6.0  10.000000

   Height  Weight
0       2       1
1       4       6
2       6      10

          Height    Weight
Height  1.000000  0.997949
Weight  0.997949  1.000000