In [29]:
""" 
05 April 2023
"""
import pandas as pd

dataframe = pd.DataFrame({
    "Name": ["James", "John", "MacGyber"],
    "Age": [32,36,38]
})
display(dataframe)
dataframe_1 = dataframe.rename(columns = {'Name':'FirstName'})

dataframe_2 = dataframe.rename(columns = {'Name':'FirstName'}, 
                              inplace = True)
display(dataframe_2)
display(dataframe, 'original dataframe has been changed')

       Name  Age
0     James   32
1      John   36
2  MacGyber   38

None

  FirstName  Age
0     James   32
1      John   36
2  MacGyber   38

'original dataframe has been changed'

In [33]:
d4 = dataframe.drop("Age", axis="columns", inplace=False)
print(d4.FirstName[:2])

0    James
1     John
Name: FirstName, dtype: object