In [18]:
""" 
01 March 2024
https://stackoverflow.com/questions/38672695/nan-in-mapper-name-nan-is-not-defined
"""
import pandas as pd
import numpy as np
from numpy import nan



data = pd.DataFrame( { "Name": ["Asad", "Akram", "Bably"], "Age": [24, 26, nan]})

data


mean_value_of_age = data["Age"].mean()
mean_value_of_age

data["Age"] = data["Age"].fillna(mean_value_of_age)

data

    Name   Age
0   Asad  24.0
1  Akram  26.0
2  Bably  25.0