In [19]:
import pandas as pd
import numpy as np

print(pd.__version__)

1.5.3

In [44]:
df = pd.DataFrame({
    "test": [1,2,3],
    "test1": [4,5,6]
}, index=["One", "Two", "Three"])
print(df)
print('__________________')
print()
print(df.loc["Two"])

       test  test1
One       1      4
Two       2      5
Three     3      6
__________________

test     2
test1    5
Name: Two, dtype: int64

In [34]:
"""
Loc == Location  row location
"""
df.loc[[0,2]]

   test  test1
0     1      4
2     3      6

In [45]:
print(df.iloc[:,0])

One      1
Two      2
Three    3
Name: test, dtype: int64

In [24]:
"""
Series
"""
calories = {"day1": 420, "day2": 380, "day3": 390}

d = pd.Series(calories)
d

day1    420
day2    380
day3    390
dtype: int64