In [1]:
# 12 February 2024
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
import pandas as pd
data = { "Name": ["James", "Bond", "Jackson"], "Age": [22, 24, 30], "Weight": [110, 125, 180]}
df = pd.DataFrame(data)
df = df[(df["Age"] > 22) & (df["Weight"] > 130)]
df

      Name  Age  Weight
2  Jackson   30     180

In [8]:
new_df = pd.DataFrame(data)
new_df[:2]

    Name  Age  Weight
0  James   22     110
1   Bond   24     125