In [2]:
import numpy as np
import pandas as pd

In [ ]:
# https://www.statology.org/correlation-coefficient-by-hand/

In [35]:
p = np.corrcoef([0,3,5],[4,5,8])
print(p)
p[1][1]

[[1.         0.92261291]
 [0.92261291 1.        ]]

1.0

In [43]:
data = {
    "Physics": [10, 3, 6.0],
    "Math": [1.2, 5.4, 3.6],
}

df = pd.DataFrame(data)

print(df)
pearson = df.corr(method="pearson")
kendall = df.corr(method="kendall")
spearman = df.corr(method="spearman")


pearson

   Physics  Math
0     1.82   1.2
1     3.62   5.4
2     6.00   3.6

          Physics      Math
Physics  1.000000  0.502036
Math     0.502036  1.000000

In [50]:
data = {
    "Physics": [10, 20],
    "Math": [12, 24],
}

df = pd.DataFrame(data)
print(df)
matrix_norm = df.subtract(df.mean(axis=0), axis = 'columns')
matrix_norm

## 10 + 12/2 = 22/2 = 11
## 20 + 24/2 = 44/2 = 22 

## 10 + 20/2 = 15
## 12 + 24/2 = 18 

## axis = 0 refers to horizontal axis or rows and axis = 1 refers to vertical axis or columns

# axis = 0 // rows //horizontal
# axis = 1 // column //vertical

   Physics  Math
0       10    12
1       20    24

   Physics  Math
0     -5.0  -6.0
1      5.0   6.0

In [56]:
data = {'col1': [1, 2], 'col2': [3, 4]}
df1 = pd.DataFrame(data)
transform = df1.T
transform

      0  1
col1  1  2
col2  3  4