In [1]:
import pandas as pd
import numpy as np

In [2]:
from seaborn import load_dataset

df = load_dataset('penguins')
print(df.head())

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0

   body_mass_g     sex
0       3750.0    Male
1       3800.0  Female
2       3250.0  Female
3          NaN     NaN
4       3450.0  Female

In [3]:
print(df['body_mass_g'].describe())

print()
print()

print(df.describe(percentiles=[.1, .5, .9]))

count     342.000000
mean     4201.754386
std       801.954536
min      2700.000000
25%      3550.000000
50%      4050.000000
75%      4750.000000
max      6300.000000
Name: body_mass_g, dtype: float64


       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
10%         36.600000      14.300000         185.000000  3300.000000
50%         44.450000      17.300000         197.000000  4050.000000
90%         50.800000      19.500000         220.900000  5400.000000
max         59.600000      21.500000         231.000000  6300.000000

In [4]:
# Correlation Coefficient

data_score = pd.read_csv("../Data/exam_scores.csv")
data_score.head()
data_score.corr()
correlation = data_score.corr()
print(correlation)
print()
print()
print(correlation.loc['History', 'English'])
data_score.head()

          English   History
English  1.000000  0.930912
History  0.930912  1.000000


0.9309116476981838

     English    History
0  74.573424  86.496775
1  75.115299  86.801171
2  75.691345  87.981466
3  73.888714  85.411392
4  75.015225  86.812830

In [16]:
df1 = pd.DataFrame.from_dict({
    'Date': ['2021-12-01', '2021-12-02'],
    'Values': [100, 120]
})

df2 = pd.DataFrame.from_dict({
    'Date': ['2021-12-02', '2021-12-04'],
    'Values': [110, 220]
})


print(df1)
print()
print(df2)


df3 = pd.concat([df1, df2], axis=0)
df3.drop_duplicates(subset='Date')

         Date  Values
0  2021-12-01     100
1  2021-12-02     120

         Date  Values
0  2021-12-02     110
1  2021-12-04     220

         Date  Values
0  2021-12-01     100
1  2021-12-02     120
1  2021-12-04     220