In [3]:
# 12 February 2024
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [71]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
import scipy.stats as stats


print(stats.zscore([1, 2, 3]))

data = { "Name": ["James", "Bond", "Jackson"], "Age": [22, 24, 30], "Weight": [110, 125, 180]}
df = pd.DataFrame(data)
df = df[(df["Age"] > 22) & (df["Weight"] > 130)]
df

[-1.22474487  0.          1.22474487]

      Name  Age  Weight
2  Jackson   30     180

In [8]:
new_df = pd.DataFrame(data)
new_df[:2]

    Name  Age  Weight
0  James   22     110
1   Bond   24     125

In [76]:
from sklearn.preprocessing import StandardScaler


data = pd.DataFrame([ [120, 140], [120, 122], [160, 122], [120, 70] ])

data.describe()
scaler = StandardScaler().fit(data)
X_train_scaled = scaler.fit_transform(data)


new_data = [[120, 70]]
new_data_scaled = scaler.transform(new_data)
new_data_scaled


print(stats.zscore(data))

           0          1
count    4.0    4.00000
mean   130.0  113.50000
std     20.0   30.21589
min    120.0   70.00000
25%    120.0  109.00000
50%    120.0  122.00000
75%    130.0  126.50000
max    160.0  140.00000

array([[-0.57735027, -1.66235294]])

          0         1
0 -0.577350  1.012698
1 -0.577350  0.324828
2  1.732051  0.324828
3 -0.577350 -1.662353