In [25]:
# 25 May 2025

<h1 style="line-height:3rem;"> Everest Expeditions </h1>

In [1]:
import pandas as pd
import os

def load_everest_data():
    """
    Load Everest.csv from local or Kaggle environment.
    Returns:
        DataFrame: Everest expedition data.
    """
    env_name = os.environ.get('KAGGLE_KERNEL_RUN_TYPE', 'Localhost')
    if env_name == "Localhost":
        df = pd.read_csv('../datasets/New/Everest_Expedition.csv', low_memory=False)
    else:
        df = pd.read_csv("/kaggle/input/everest-expedition/Everest_Expedition.csv", low_memory=False)
    return df

def top_n_national_success(df, top_n=10, include_countries=None):
    """
    Get top N nationalities by total successful summits, including specified countries.
    
    Args:
        df (DataFrame): Everest expedition data.
        top_n (int): Number of top nationalities to return.
        include_countries (list): List of countries to always include.
        
    Returns:
        DataFrame: Filtered and sorted nationality success DataFrame.
    """
    # Group by nation and sum successful summits
    nation_success = (
        df.groupby('nation')['smtmembers']
        .sum()
        .reset_index()
        .rename(columns={'nation': 'Nation', 'smtmembers': 'Total Successful Summits'})
    )
    
    # Sort and get top N
    top_df = nation_success.sort_values(by='Total Successful Summits', ascending=False).head(top_n)

    # Include specific countries even if not in top N
    if include_countries:
        include_countries_clean = [c.strip() for c in include_countries]
        extra_df = nation_success[nation_success['Nation'].isin(include_countries_clean)]
        combined_df = pd.concat([top_df, extra_df], ignore_index=True)
        combined_df = combined_df.drop_duplicates(subset='Nation')
        combined_df = combined_df.sort_values(by='Total Successful Summits', ascending=False).reset_index(drop=True)
    else:
        combined_df = top_df.reset_index(drop=True)

    return combined_df

def style_gradient_table(df):
    """
    Apply a gradient style to the Total Successful Summits column.
    
    Args:
        df (DataFrame): DataFrame of nationality success.
        
    Returns:
        Styler: Styled DataFrame.
    """
    return df.style.background_gradient(subset=['Total Successful Summits'], cmap='YlGnBu')

# Example usage
# Example usage
if __name__ == "__main__":
    df = load_everest_data()
    include_countries = ["Finland", "Bangladesh", "Pakistan"]
    top_n_df = top_n_national_success(df, top_n=40, include_countries=include_countries)

    # For Jupyter or Kaggle Notebooks, explicitly display the styled table
    from IPython.display import display
    styled_table = style_gradient_table(top_n_df)
    display(styled_table)