In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


# data_file = "Electricity_Production_Finland_1914_2025_trim.csv"
data_file = "Electricity_Production_Finland_1914_2025.csv"
# data_file = "/kaggle/input/finland-electricity-production/Electricity_Production_Finland_1980-01-01T0000_2025-02-12T0000.csv"


df = pd.read_csv(data_file)
df_data = pd.DataFrame(df)



df_data['startTime'] = pd.to_datetime(df_data['startTime'])
df_data['Year'] =  df_data['startTime'].dt.year
df_data['Month'] =  df_data['startTime'].dt.month
df_data['Day'] =  df_data['startTime'].dt.day
df_data




monthly_stats = df_data.groupby('Month')['Electricity production in Finland'].agg(['mean', 'std']).reset_index()

# Rename the Month column to month names for better readability
monthly_stats['Month'] = monthly_stats['Month'].map({
    1: 'January', 2: 'February', 3: 'March', 4: 'April', 5: 'May', 6: 'June',
    7: 'July', 8: 'August', 9: 'September', 10: 'October', 11: 'November', 12: 'December'
})



plt.figure(figsize=(10, 6))
plt.bar(monthly_stats['Month'], moknthly_stats['mean'], yerr=monthly_stats['std'], capsize=5, color='skyblue', alpha=0.7)
plt.title('Monthly Electricity Production (Mean Â± Std)')
plt.xlabel('Month')
plt.ylabel('Electricity Production')
plt.xticks(rotation=45)
plt.grid(True, axis='y', linestyle='--', alpha=0.7)
plt.show()

,startTime,endTime,Electricity production in Finland,Year,Month,Day
0,2014-01-01 00:00:00+00:00,2014-01-01T01:00:00.000Z,7306.0,2014,1,1
1,2014-01-01 01:00:00+00:00,2014-01-01T02:00:00.000Z,7264.0,2014,1,1
2,2014-01-01 02:00:00+00:00,2014-01-01T03:00:00.000Z,7231.0,2014,1,1
3,2014-01-01 03:00:00+00:00,2014-01-01T04:00:00.000Z,7270.0,2014,1,1
4,2014-01-01 04:00:00+00:00,2014-01-01T05:00:00.000Z,7339.0,2014,1,1
...,...,...,...,...,...,...
140070,2025-02-11 20:45:00+00:00,2025-02-11T21:00:00.000Z,11187.5,2025,2,11
140071,2025-02-11 21:00:00+00:00,2025-02-11T21:15:00.000Z,11161.6,2025,2,11
140072,2025-02-11 21:15:00+00:00,2025-02-11T21:30:00.000Z,11186.9,2025,2,11
140073,2025-02-11 21:30:00+00:00,2025-02-11T21:45:00.000Z,11125.0,2025,2,11
140074,2025-02-11 21:45:00+00:00,2025-02-11T22:00:00.000Z,11078.3,2025,2,11

NameError: name 'moknthly_stats' is not defined

In [6]:
plt.figure(figsize=(12, 6))
plt.plot(daily_stats['DayOfYear'], daily_stats['mean'], label='Mean', color='blue')
plt.fill_between(
    daily_stats['DayOfYear'],
    daily_stats['mean'] - daily_stats['std'],
    daily_stats['mean'] + daily_stats['std'],
    color='lightblue',
    alpha=0.3,
    label='Mean Â± Std'
)
plt.title('Daily Electricity Production (Mean Â± Std)')
plt.xlabel('Day of the Year')
plt.ylabel('Electricity Production')
plt.legend()
plt.grid(True, linestyle='--', alpha=0.7)
plt.show()

NameError: name 'daily_stats' is not defined